/* About Component Styles */
.about-container {
    max-width: 800px;
    margin: 0 auto;
    /* padding: 40px; */
    background-color: #d5d5d5c1;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about-heading {
    font-size: 28px;
    font-weight: bold;
    color: #9d3636;
    margin-bottom: 20px;
}

.about-paragraph {
    font-size: 20px;
    line-height: 1.6;
    color: #f40404;
    margin-bottom: 15px;
}


.about-link:hover {
    text-decoration: underline;
}
