.Bday-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .Bdayimg {
      width: 200px;
      height: 350px;
      margin: 10px;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
    }
  
    .Bdayimg:hover{
      transform: scale(1.1);
    }
    