/* CSS for Home Page */
h1 {
    font-size: 2.5em; /* Adjust the font size as needed */
    color: #333; /* Adjust the color as needed */
    text-align: center; /* Center the text horizontally */
}

p {
    font-size: 2.0em; /* Adjust the font size as needed */
    color: #444; /* Darker color */
    margin-top: 20px; /* Adjust the top margin as needed */
    text-align: center; /* Center the text horizontally */
}
