@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

h1 {
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    
    animation: fadeInUp 1s ease-out forwards;
}

p {
    font-size: 2.0em;
    color: #000000;
    margin-top: 20px;
    text-align: center;
    animation: fadeInUp 1.5s ease-out forwards;
}

/* Home.css */
.home-footer {
    text-align: center;
    margin-top: 50px;
    /* padding: 20px; */
    height: 19vh;
    width: 100%;
    background-color: #f2f2f2;
    color: #333;
    /* position: absolute;
    bottom: 0%;
    left: 0; */
}

.home-footer a {
    margin: 0 10px;
    color: #007bff;
    text-decoration: none;
}

.home-footer a:hover {
    text-decoration: underline;
}

.main-left{
    height: 60vh;
    width: 60%;
    margin: 15px;
}

.main-right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 30%;
    padding: 20px;

}

.main{
    display: flex;
    width: 100%;
}

.choose{
    width: 30vw;
    background-color: #00BFA6;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px dashed #00BFA6;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: .4s;
    font-weight: bold;
    color: rgb(255, 255, 1);

}
.choose span:last-child {
    display: none;
   }

   .choose:hover {
    transition: .4s;
    border: 2px dashed #00BFA6;
    background-color: #fff;
    color: #00BFA6;
   }

   .choose:active {
    background-color: #87dbd0;
   }