/* Login.css */

.login-container {
  max-width: 500px; 
  margin: 50px auto;
  padding: 30px; 
  border: 1px solid #ddd;
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  background-color: #fff;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 3px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #5cb85c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  font: bold;
}

.login-button:hover {
  background-color: #4cae4c;
}

.g_icon{
    height:35px;
    border: 2px solid rgb(92, 87, 87);
    border-radius: 5px;
    margin-top: 10px;
    margin-left: 220px;
    margin-bottom: 10px;
    cursor: pointer;
}

/* Added styles for login-button */
.login-button {
  background-color: #5cb85c;
}

.login-button:hover {
  background-color: #4cae4c;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;
}

.forgot-password {
  color: #5cb85c;
  text-decoration: none;
}
