.main-container {
    display: flex;
    flex-wrap: wrap;
}

.occbutton {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color:  #012448f8; 
    transition: all 0.3s ease;
    color:rgb(255, 225, 0);
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 3px 6px;
}

.occbutton:hover {
    background-color: #001938;
    border-color: #191a16;
}

.occbutton img {
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 10px;
    border-radius: 10%;
}
