body {
    margin: 0;
    padding: 0;
    background-color: #ffffffd2;
}

.navbar {
    background-color: #8b8877b6; 
    padding: 30px 0; 
    display: flex;
    justify-content: flex-end; 
    align-items: center;
}

.navbar-brand {
    color: #FFF;
    text-decoration: none;
    font-size: 1.5rem; 
    font-weight: bold; 
}

.navbar-nav {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center; 
}

.nav-item {
    margin-right: 15px; 
}

.nav-link {
    text-decoration: none;
    font-size: 1.1rem; 
    transition: color 0.3s;
    color: black; 
    font-weight: bold;
    font-size: 200%;
}

.nav-link:hover {
    color: #ee0808; 
    transition: color 0.3s; 
}
