.occasion-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .occasionimg {
      width: 230px;
      height: 370px;
      margin: 10px;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
    }
  
    .occasionimg:hover{
      transform: scale(1.1);
    }
    