.trad-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .tradimg {
      width: 220px;
      height: 350px;
      margin: 10px;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
    }
  
    .tradimg:hover{
      transform: scale(1.1);
    }
    