.Blue-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    .Blue-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    
    
    
    .Blue-image {
      width: 300px;
      height: 300px;
      margin: 10px;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
    }
  
    .Blue-image:hover{
      transform: scale(1.1);
    }
    