.Pink-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    }
    
    
    .Pink-image {
      width: 300px;
      height: 300px;
      margin: 10px;
      border-radius: 10px;
      transition: transform 0.3s ease-in-out;
    }
  
    .Pink-image:hover{
      transform: scale(1.1);
    }
    